{{ form_start(formMap) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(formMap) }}
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(formMap.name) }}
            {{ form_row(formMap.title) }}
            {{ form_row(formMap.description) }}

            {% embed "accordion.html.twig" with { title: 'Paramètres supplémentaire' } %}
                {% block accordion_body %}
                    {{ form_rest(formMap) }}
                {% endblock accordion_body %}
            {% endembed %}

        </div>
    </div>
{{ form_end(formMap) }}